<div class="recent-news">
  <h3 class="title">Recent News</h3>
  <ul >
    <li *ngFor="let report of recentNews ">
      <div>
        <strong>{{ report.url }}</strong>
        <small>{{ report.title }}</small>
      </div>
    </li>
  </ul>
</div>
<!--<md-list>-->
  <!--<h3 md-subheader>last news</h3>-->
  <!--<md-list-item *ngFor="let report of lastNews">-->
    <!--<div>-->
      <!--<h4>{{ report.title }}</h4>-->
      <!--<p>{{ report.summary }}</p>-->
    <!--</div>-->
  <!--</md-list-item>-->
<!--</md-list>-->
