<div class="lastNews">
  <h3 class="title">Last News</h3>
  <ul >
    <li *ngFor="let report of lastNews ">
      <div>
        <strong>{{ report.title }}</strong>
        <small>{{ report.summary }}</small>
      </div>
    </li>
  </ul>
</div>
<!--<md-list>-->
  <!--<h3 md-subheader>last news</h3>-->
  <!--<md-list-item *ngFor="let report of lastNews">-->
    <!--<div>-->
      <!--<h4>{{ report.title }}</h4>-->
      <!--<p>{{ report.summary }}</p>-->
    <!--</div>-->
  <!--</md-list-item>-->
<!--</md-list>-->
