.searchBox {
  border-bottom: 1px solid #e3e3e3;
  .searchContainer{
    width:20%;
    margin:auto;
    display: block;
    input{
      text-align: center;
    }
  }
}
.profile{
  padding: 20px 0 0;
}
